<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Function</th>
        <th scope="col">Team</th>
        <th scope="col">Salary</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.firstName + " " + employee.lastName }}</td>
        <td>{{ employee.developerFunction }}</td>
        <td>{{ employee.team.name }}</td>
        <td>{{ employee.baseSalary }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
