<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Function</th>
        <th scope="col">Team</th>
        <th scope="col">Salary</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees; let ndx = index">
        <td>{{ ndx + 1 }}</td>
        <td>{{ employee.firstName + " " + employee.lastName }}</td>
        <td>{{ employee.developerFunction }}</td>
        <td>{{ employee.team.name }}</td>
        <td>{{ employee.baseSalary }}</td>
        <td>
          <button [routerLink]="['/editEmployee', employee.id]" class="btn btn-primary">Edit</button>
          <button [routerLink]="['/deleteEmployee', employee.id]" class="btn btn-danger mx-2">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <button routerLink="/addEmployee" class="btn btn-primary float-right"><fa-icon [icon]="faEdit"></fa-icon> New Employee</button>
  </div>
</div>
